.step-tabs-wrapper {
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  color: #374151; /* Tailwind text-gray-700 */
}

.tabs {
  display: flex;
  text-align: center;
}

/* 공통 탭 기본 */
.tab {
  flex: 1;
  padding: 8px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-bottom: 2px solid #d1d5db;
}

.tab:hover {
  background-color: #f3f4f6;
}

/* 활성 탭 */
.tab.active {
  border-bottom: 3px solid #000000;
  color: #000000;
}

/* 비활성 탭 */
.tab:not(.active) {
  border-bottom: 2px solid #d1d5db;
  color: #6b7280;
}

.payment-bar {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0;
  margin-bottom: 8px;
}
