.sail-inner {
  display: flex;
}

.sail-event-container {
  margin: 50px;
  display: flex;
  justify-content: center;
}

.sail-event-item {
  display: flex;
  width: 800px;
  height: 500px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}
