/* 전체 영역 */

.selogin-area {
  display: flex;
  width: auto;
  height: 100vh; 
  justify-content: center;
  align-items: center;
}

.Selogin-inarea {
  height: 100%;
}

/* 로그인 컨테이너  */
.Selogin-container {
  display: flex;
  width: 1400px;
  height: 100%;
  }  
  
  /* 왼쪽 영역 */
  .selogin-left {
    display: flex;
    position: relative;
    background: #fcfcfc;
    padding: 80px 0 30px 0;
    width: 50%;
    text-align: center;  
    flex-direction: column;
    align-items: center;
  }

  .selogo2 {
    width: 220px;
    margin-bottom: 30px;
  }

  .selogin-text {
    margin: 30px 100px 0 80px;
  }

  
  h2 {
    text-align: left;
  }
  
  h4 {
    color: gray;
    text-align: left;
  }
  
  /* 오른쪽 로그인 영역 */
  .selogin-right {
    padding: 100px 30px 30px 0px;
    width: 50%;
    background: #fcfcfc;
    display: flex;
    flex-direction: column;
  }

  .main-selogin {
    font-size: 1.6em;
  }
  
  .selogin-form {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
  }
  
  .selogin-form input {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1.2em;
  }
  
  
  label {
    gap: 8px;
    font-size: 1.2em;
  }
  
  .options {
    display: flex;
    gap: 70px;
    font-size: 0.9em;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  .options a {
    text-decoration: none;
    color: black;
  }
  
  .options a:hover {
    text-decoration: underline;
  }
  
  .links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
  }
  
  .links a {
    color: black;
    text-decoration: none;
  }
  
  .selogin-btn {
    background: #ffffff;
    color: black;
    border: 3px solid black;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    width: 340px;
    height: 45px;

  }

  .seregister-btn{
    background: #ffffff;
    color: black;
    border: 3px solid black;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    width: 340px;
    height: 45px;
  }
  
  

  