.viewModule {
    background-color: #ffeeee;
    min-width: 100%;
    max-width: auto;
}

.viewModule .moduleFrame1 {
    justify-content: center;
    justify-items: center;
}

.viewModule .moduleFrame2 {
    background-color: #fff
}

.viewModule .moduleFrame3 {

}

.sideModuleTitle {
    text-align: center;
    padding: 13px 0 13px;
    border-bottom: 1.5px solid #e2e2e2;
}

.order-area {
    width: auto;
    padding: 17px 7px 40px;
}

.order-area .order-inner {
    padding: 10px;
    border-radius: 10px;
    border: 1.5px solid #e2e2e2;
}

.order-area .order-inner .sideCartTop {
    border-bottom: 1px solid #e2e2e2;
    padding: 2px 0 10px;
}

.order-area .order-inner .cartModuleMain {
    border-bottom: 1px solid #e2e2e2;
    padding: 8px 0 8px;
}

.order-area .order-totalsummary {
    display: flex;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 0 0;
}

.order-area .order-totalsummary .order-subsummary {
    display: flex;
    align-items: center;
    padding-right: 3px;
}

.order-area .order-totalsummary .order-subsummary > div, .order-totalpay {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 9px;
}

.order-area .order-totalsummary .order-totalpay {
    width: auto;
    max-width: auto;
    padding-left: 10px;
    border-left: 1.5px solid #e2e2e2;
}

.cartBuy {
    position: absolute;
    bottom: 0;
    padding: 30px 50px 30px 50px;
}

.cartBuyBtn {
    color: #fff;
    background-color: #000;
}
