/* 전체 레이아웃 */
.seller-container {
  display: flex;
}

/* 좌측 메뉴 고정 */
.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;
  background-color: #1e1e1e;
  padding-top: 80px; /* 헤더 높이만큼 아래로 */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 99;
}

/* 사이드 메뉴 아이템 */
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.2s ease;
}

.menu-item img,
.seller_icon {
  filter: brightness(0) invert(1); /* 아이콘 흰색 처리 */
  width: 43px;
  height: 43px;
  margin-bottom: 5px;
}

/* Hover & 클릭 시 효과 */
.menu-item.faded {
  opacity: 0.3;
}

.menu-item.focused {
  opacity: 1;
  font-weight: bold;
  transform: scale(1.05);
}

/* 상단 헤더 고정 */
.top-header {
  position: fixed;
  top: 0;
  left: 100px; /* 사이드 메뉴 너비만큼 이동 */
  right: 0;
  height: 80px;
  background-color: #1e1e1e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 100;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 50px;
}

.seller_icon {
  width: 33px;
  height: 33px;
  margin-left: -82px;
}

.status-text {
  font-size: 20px;
}

.red-dot {
  width: 18px;
  height: 18px;
  margin-left: -38px;
}

.right-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.status-dropdown {
  position: absolute;
  width: 112px;
  top: 40px;
  left: 20px;
  background-color: rgba(75, 75, 75, 0.3); 
  color: white;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 200;
  backdrop-filter: blur(-13px); 
}

.status-option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  cursor: pointer;
}

/* 알림부분*/

.alarm-badge {
position: absolute;
top: -4px;
right: -4px;
background-color: red;
color: white;
font-size: 10px;
border-radius: 50%;
padding: 2px 5px;
}

.alarm-dropdown {
position: absolute;
top: 60px;
right: 0;
width: 280px;
max-height: 400px;
overflow-y: auto;
background-color: #333;
color: white;
border-radius: 6px;
box-shadow: 0 4px 10px rgba(0,0,0,0.3);
z-index: 999;
}

.alarm-item {
padding: 10px;
border-bottom: 1px solid #555;
cursor: pointer;
}

.alarm-item.unread {
font-weight: bold;
background-color: #444;
}

.alarm-item.read {
color: #bbb;
}

.alarm-time {
font-size: 10px;
color: #999;
margin-top: 4px;
}

.alarm-markall-btn {
width: 100%;
background-color: #666;
color: white;
border: none;
padding: 8px;
cursor: pointer;
font-size: 12px;
border-radius: 0 0 6px 6px;
}


