.storeMargin {
    margin: 0 15%;
}

.storeMain {
    position: absolute;
    padding-top: var(--head-menu-height);
    width: 100%;
}

.storeBanner {
    position: fixed;
    width: 100% !important;
    height: 210px;
    overflow: hidden;
}

.storeImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 넘치는 부분 자르기 */
    object-position: center; /* 중앙 기준으로 자르기 */
}

.storeUI {
    padding-top: var(--store-header-height);
}

.storeUI .storeInner {
    position: relative;
    background-color: #fff;
}

.storeUI .storeInner .storeMargin .storeHead {
    position: relative;
    background-color: #fff;
    margin-bottom: 50px;
}

.storeHead .storeName {
    display: flex;
    justify-content: center;
    align-items: center;
}

.storeHead .storeName img {
    width: 100%;
    max-width: 260px;
    height: 100%;
    max-height: 80px;
    padding: 20px 0 15px;
    aspect-ratio: 5 / 2; /* 가로:세로 비율 고정 */
    object-fit: cover;
    object-position: bottom;
    overflow: hidden;
}

.storeUI .storeInner .storeMargin .storeHead .storeHead-inner {
    position: relative;
    display: flex;
    flex-flow: wrap;
}

.storeUI .storeInner .storeMargin .storeHead .storeHead-inner 
.storeHead-half {
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 50%;
}

.storeUI .storeInner .storeMargin .storeHead .storeHead-inner 
.storeHead-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}

.storeRight-ui {
    width: 120px;
    border: 1px solid gray;
    border-radius: 8px;
    justify-items: center;
    align-items: flex-end;
    cursor: pointer;
}

.storeRight-ui:hover {
    background-color: #fcccc5;
    cursor: pointer;
}



/* ---------- 스토어 바디 부분 ---------- */
.storeBody {
    background-color: #fff;
}

.storeTabWrapper {
    position: relative;
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
    margin: 0 auto;
}

.storeTabItem {
    cursor: pointer;
    padding: 5px 0;
    position: relative;
    flex: 1;
    text-align: center;
}

.storeTabItem p {
    font-weight: normal;
    margin: 0;
}

.storeTabItem.active p {
    font-weight: bold;
}

.tabUnderline {
    position: absolute;
    bottom: -1px;
    height: 3px;
    background-color: #000;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
    width: 0;
    left: 0;
}

.productList {
    /* display: flex; */
}

.storeMainInfo {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ---------- 스토어 바디 부분 ---------- */