/* 전체 레이아웃 */

.mypage-container {
  max-width: 1200px;
  padding: 40px;
  box-sizing: border-box;
}

.mypage-sidebar {
  width: 200px;
  font-size: 12px;
  color: #111;
}

.title-xl {
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 24px;
  cursor: pointer;
}

.title-lg {
  font-size: 20px;
  font-weight: 700;
  margin: 24px 0 6px;
}

.sidebar-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-section li {
  font-size: 15px;
  color: #777;
  margin-bottom: 4px;
  cursor: pointer;
}

.sidebar-section li:hover {
  text-decoration: underline;
}

/* 본문 */
.modify-area {
  flex: 1;
  margin-top: 60px;
  margin-left: 30px;
}

.modify-area h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* 프로필 이미지 */
.profile-block {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
  margin-left: 260px;
}

.profile-preview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #ccc;
  object-fit: cover;
  cursor: pointer;
}

.profile-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.black-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
}

.white-btn {
  background-color: white;
  border: 1px solid black;
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
}

.gray-btn {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 8px 12px;
  font-size: 13px;
  cursor: pointer;
}

/* 폼 테이블 */
.info-form table {
  width: 70%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-left: 30px;
}

.info-form td {
  border: 1px solid #ccc;
  padding: 12px;
  vertical-align: middle;
}

.info-form td:first-child {
  background-color: #e9f6fa;
  font-weight: bold;
  width: 140px;
}

.info-form input,
.info-form select {
  padding: 8px;
  font-size: 14px;
  width: 50%;
  box-sizing: border-box;
}

/* 입력 그룹 */
.phone-input-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.phone-input-group span {
  margin: 0 5px;
}

.phone-input-group input {
  width: 70px; 
}


.gender-options-inline {
  display: flex;
  align-items: center;
  gap: 20px;
}

.gender-options-inline label {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}

.gender-options-inline label {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  white-space: nowrap;
}

.birthdate-select {
  display: flex;
  gap: 10px;
}

.birthdate-select select {
  width: 60px;
}

/* 하단 버튼 */
.form-buttons {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  margin-left: 480px;
}
